<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="The Rock" />
<meta property="og:description" content="Fruite juice order today" />
<meta property="og:video" content="Advanced Button Hover Animations - CSS Only.mp4" />
<meta property="og:image" content="drink.png" />
    <title>JuiceInk</title>
    <link rel="stylesheet" href="/views/index.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="mainnav">
            <h1 class="navheader">JuiceInk</h1>
            <ul class="navlist">
                <li class="iterms">Home</li>
                <li class="iterms">service</li>
                <li class="iterms">About</li>
            </ul>
            <div class="buttonnavdiv">
                <a href="" class="loginav">Login</a>
            </div>
           
        </nav>
    </header>
    <main>
        <section class="juice">
            <div class="aboutJuice">
                <h2 class="juiceheader">Descover realy</h2>
                <h2 class="juiceheader">Fruit</h2>
            </div>
            <div class="pictureJuice">
                <img src="drink.png" alt="" class="picturejuice">
            </div>
        </section>
        <section class="ordergoods">
            <h3 class="orderheader">Order Juice</h3>
            <div class="formdiv">
                <form method="post" action="/post" class="orderform">
                <label for="iterms">Select Juice fravour</label>
                <select name="iterms" id="iterms">
                    <option value="">Apple</option>
                    <option value="">banana</option>
                    <option value="">orange</option>                 
                </select>
                <input type="text" name="fname" id="" required placeholder="name">
                <input type="email" name="emmail" id="" required placeholder="email">
                <input type="password" name="password" id="" required placeholder="password">
                <input type="submit" value="submit">
            </form>
            </div>
            
        </section>
        <section class="catalog">
            <div class="imagediv">
                <img src="3.jng" class="catalogimg" alt="mango">
                <div class="catalogdiv">
                    <h3 class="fruitetype">Mango</h3>
                    <button class="catalogbtn">Add to cart</button>
                </div>
            </div>
            <div class="imagediv">
                <img src="4.png" class="catalogimg" alt="">
                <div class="catalogdiv">
                    <h3 class="fruitetype">Avogadro</h3>
                    <button class="catalogbtn">Add to cart</button>
                </div>
            </div>
            <div class="imagediv">
                <img src="ai.jpg" class="catalogimg" alt="Orange">
                <div class="catalogdiv">
                    <h3 class="fruitetype">Orange</h3>
                    <button class="catalogbtn">Add to cart</button>
                </div>
            </div>
            <div class="imagediv">
                <img src="smoothies.jpg" class="catalogimg" alt="">
                <div class="catalogdiv">
                    <h3 class="fruitetype">Mixed fruite</h3>
                    <button class="catalogbtn">Add to cart</button>
                </div>
            </div>
        </section>
        <section class="iframesection">
            <h4 class="mediaform">media platforms</h4>
            <div class="icons">
                <i class="fa-brands fa-2x fa-facebook-f"></i>
                <i class="fa-brands fa-2x fa-x-twitter"></i>
                <i class="fa-brands fa-2x fa-instagram"></i>
                <i class="fa-brands fa-apple"></i>
                <i class="fa-brands fa-2x fa-amazon"></i>
                <i class="fa-brands fa-2x fa-paypal"></i>
            </div>
            <div class="iframe">
                <video src="Advanced Button Hover Animations - CSS Only.mp4" width="300px" height="300px" controls autoplay loop></video>
                <iframe src="https://www.youtube.com/embed/fys0TXE_8nQ" width="200px" height="200px" frameborder="0"></iframe>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>
